:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #2196F3;
    --secondary-color: #212121;
}

body{
   font-family: var(--main-font); 
   color: var(--secondary-color);
}

a {
    text-decoration: none;
}


h2,
h3,
h4,
h5,
h6{
    margin: 0;  
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
}

.list{
    list-style: none;
}

img{
    display: block;
}

.container{
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-footer{
    padding-top: 60px;
    padding-bottom: 60px;
}

/*================COMPONENTS================ */
.model-btn{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    margin: 0 auto;
    display: block;
    

    /* identical to box height, or 187% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    

    color: #FFFFFF;
    font-family:var(--main-font);
    /* position: absolute; */
    width: 200px;
    height: 50px;
    
    

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;


}

.secondary-header{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.666;
    text-align: center;
    letter-spacing: 0.03em;
}

/*================END COMPONENTS================ */


/*================HEADER================ */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container{
    display: flex;
    align-items: center;
    Height: 80px;
}


.navigation-logo{
   margin-right: 93px;
   font-family: var(--secondary-font);
}

.navigation-list,
.navigation-advantages-list {
    display: flex;
    align-items: center;
}

.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}

.navigation-address{
    display: flex;
    align-items: center;
}

 .header .address{
    margin-left: auto;
}

.address-mail{
    margin-right: 50px;
}

/* .address-mail::before {
    display: inline-block;
    content: '';
    background-image: url(/images/envelope.svg);
    width: 16px;
    height: 12px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}



.address-phone-number::before {
    display: inline-block;
    content: '';
    background-image: url(/images/smartphone.svg);
    width: 10px;
    height: 16px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
} */

.ardess-icon {
    
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.adress-icon2 {
    
    width: 10px;
    height: 16px;
    margin-right: 10px;
}
/* .navigation-address-item:hover,
.navigation-address-item:focus {
    color: var(--main-color);
} */

.navigation-address-item {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .navigation-address-pic {
    fill: #757575;
} */
.navigation-advantages-item:not(:last-child){
    margin-right: 30px;
    top: 93px;
}
.navigation-advantages{
   padding-top: 94px;
   margin:0;
}
.navigation-advantages-item{
    top: 774px;
}

.navigation-logo,
.navigation-logo-footer {     
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;    
    /* identical to box height */
    letter-spacing: 0.03em; 
    
}
.navigation-logo{
  color: var(--secondary-color);    
}

.navigation-logo-color{
    color: var(--main-color);
}

.navigation-list-link,
.address{    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;  
    color:#212121 
}

.num_email {
    fill: #757575;
    color: #757575;
}

.num_email:hover,
.num_email:focus {
    fill: var(--main-color);
    color:var(--main-color);
    
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone-number:hover,
.footer-phone-number:focus{
    color:var(--main-color);
}

.address{
    font-style: normal;      
}



/*================END HEADER================ */

/*================BUTTON================ */


.button-content h1{

font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.364;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
width: 696px;
height: 120px;
left: 452px;
top: 280px;

margin-right: auto;
margin-left: auto;
}

/* .button-content {
    background-image: url("/images/theme.jpg");
} */

.button {
 background-image: linear-gradient(
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
    url("/images/theme.jpg");
 background-repeat: no-repeat;
  
 background-position: center;
 /* background-size: 1600px; */
 
  height: 37.5rem;
  display: flex;
  align-items: center;
  
}

/*================END BUTTON================ */

/*================NASZE ATUTY================ */

.what-we-do .secondary-header{
    margin-bottom: 50px;
    margin-top: 0;
}

.what-we-do-list{
    display: flex;
    justify-content: space-between;
}

.advantages-icon {
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    
}
.advantages-iconbox{
    
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-advantages-h4{    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    left: 215px;
    top: 774px;
}

.navigation-advantages-p{    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
    
}

/*================END NASZE ATUTY================ */

/*================STAFF================ */

.staff .secondary-header{
    margin-bottom: 50px;
    margin-top: 0;
}

.staff-list{
    display: flex;
    justify-content: space-between;
    
}

.third-header{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 99px;
}

.staff_p{
    margin: 0;
}

.stafflinks {
    width: 206px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;

}

.stafflinks-itemsvg {
    display: block;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    

}

.staff-icon {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 20px;
    height: 20px;
    

}

.stafflinks-itemsvg:hover,
.stafflinks-itemsvg:focus {
    fill: #FFFFFF;
    background-color: var(--main-color);
}


.third-header{   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
}
.staff{
   background: #F5F4FA;
}

.staff_p{   
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    margin-bottom: 16px;

    color: rgba(117, 117, 117, 0.63);    
}

.staff-list-item{  
    width: 270px;
    height: 428px;
    left: 815px;
    top: 1635px;

    background: #FFFFFF;

    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/*================END STAFF================ */
/*================customers================ */

/* .customers {
    background: #E5E5E5;
} */

.customers-list {
    display: flex;
    padding-top: 50px;
    
    
}



.custom_list-itemsvg {
    fill: #AFB1B8;
    display: block;
    width: 170px;
    height: 92px;
    
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
}

.custom_list-itemsvg:hover,
.custom_list-itemsvg:focus {
    fill: var(--main-color);
    border: 1px solid #2196F3;
}


.custom_list-itemsvg {
    align-items: center;
    justify-content: center;
    
}

.customers-list {
    justify-content: space-between;
}

.custom-icon {
    width: 106px;
    height: 60.04px;
    margin: 16px 32px ;
    
}

/*================END customers================ */

/*================FOOTER================ */
.navigation-logo-footer{
    margin-top: 60px;
}

.footer-address{
    margin-top: 20px;
    margin-bottom: 9px;
}

.footer_list_item:not(:last-child){
    margin-bottom: 9px;
}

.footer{
    background-color: #2F303A;
    
    
}

.footer .container{
    
    display: flex;
    align-items: center;
    
    
    
}

.footercont1 {
    margin-right: 70px;
}

.footerlinks {
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.footer_linkstitle {
    margin-top: 12px;
    margin-bottom: auto;

}

.footer_list{    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
      
}
.footer-address{
    color: #FFFFFF;
} 
 
.navigation-logo-footer{
    font-family: var(--secondary-font);
}

 .footer-mail,
.footer-phone-number{
color: rgba(255, 255, 255, 0.6);
}

.footer_linkstitle {
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.footerlinks-itemsvg {
    display: block;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
}

.footerlinks-itemsvg:hover,
.footerlinks-itemsvg:focus {
    fill: #FFFFFF;
    background-color: var(--main-color);
}

.footerlinks {
    width: 206px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
}
.footer-icon {
    width: 20px;
    height: 20px;
}
/*================END FOOTER================ */

/*================PORTFOLIO================ */

.portfolio{
    padding-top: 94px;
}

.filters-list-portfolio{
    display: flex;
    align-items: center;
    margin-left: 332px;
}


.navigation-logo-footer{
  color: #FFFFFF;  
}


.third-header-project{    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;

    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    
}

.staff_p-project{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;

    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: #757575;
}


.model-btn-portfolio{
    background: #F5F4FA;
    border-radius: 4px;
    


    font-family:var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;

    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 0;
    padding: 6px 22px;
}

.filters-list-item-portfolio:not(:last-child){
    margin-right:8px;
}

.model-btn-portfolio{
    margin: 0 auto;
    display: block;
}

.button_1,
.button_5{
    width: 121px;
    height: 38px;
}

.button_2{
width: 93px;
height: 38px;
margin-right: 8px;
}

.button_3{
width: 114px;
height: 38px;
}

.button_4{
width: 91px;
height: 38px;
}

.project{
    padding-top: 50px;
    padding-bottom: 94px;
}

.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.third-header-project{
    margin: 0;
    padding-top: 20px;
}

.staff_p-project{
    margin: 0;
    padding-top: 4px;
}

.model-btn-portfolio:hover,
.model-btn-portfolio:focus{
    background: #2196F3;
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}


/*================END PORTFOLIO================ */